body {
   text-align: center;
   background-color: black;
   /* background-color: skyblue; */
   /* background-image: linear-gradient(to right, rgb(109, 109, 109), rgb(2, 2, 2)); */
   /* background-image: url('https://wallpaperaccess.com/full/6071431.jpg'); */
   font-family: 'VT323', monospace;                                            
   color: whitesmoke;
   text-shadow: 3px 2px black;
   background-size: auto;
}
header {
    font-size: 28px;
}
#home-pic {
    height: 150px;
    width: auto;
}
#home-head {
    font-size: 40px;
}
#subhead {
    margin-top: -50px;
    font-size: 26px;
}
#home-subtext {
    font-size: 18px;
    padding-top: 10px;
    margin-bottom: -20px;
}

.selfie-normal {
    height: 200px;
    border: solid rgb(159, 152, 153) 3px;
    border-radius: 500px;
    box-shadow: 5px 5px rgb(28, 25, 26);
   
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    font-size: 24px;
    margin-top: 100px;
    margin-left: -40px;
    list-style: none;
    display: flex;
    justify-content: center;
    column-gap: 44px;
    cursor: pointer;
    
}
#nav-buttons {
    margin-right: 10px;
    margin-top: -15px;
    font-size: 14px;
    
}
#nav-buttons:hover {
    li {
    font-size: 40px;
    transition-delay: 50ms;
    transition-duration: 1s;
    }
}
#resume-content {
    max-height: 100%;
    width: auto;
}
#resume {
        height: 55vh;
        width: auto;
        margin-top: 30px;
        margin-bottom: 40px;
}
#projects-div {
    height: 40vh;
    /* margin-bottom: 320px; */
    overflow: auto;
}
#projects-content {
    height: 40vh;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    
}
#project-one{
    height: 30vh;
    width: 90vw;
}
#project-two {
    height: 30vh;
    width: 90vw;
}
#project-three {
    height: 30vh;
    width: 90vw;
}
#project-four {
    height: 30vh;
    width: 90vw;
    margin-left: 10px;
}
#projects-pic {
    width: 80vw;
    align-self: center;
    margin-bottom: 40px;
    
}
#bio-content {
    height: 80vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-size: 24px;
    
}
#bio-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3vh;
    margin-top: 3vh;
}
#brand-statment {
    width: 20vw;
}
#extra-info-box {
    display: flex;
    gap: 20px;
}
#bio-responses {
    /* display: flex;
    flex-direction: column;
    align-items: flex-end; */
    gap: 3vh;
    margin-top: 3vh;
}
#bio-gif {
    width: 80vw;
    height: 22vh;
    margin-bottom: 50px;
    border-radius: 15px
}
#whats-up {
height: 100px;
}
#contact-me-content {
    align-items: center;
    /* margin-left: 157px; */
}
#contact-me-pic {
    width: 90vw;
    height: auto;
    margin-bottom: 20px;
}
.hide {
    display: none;
}
#projects-div{
    height: 130vh;
}
li:hover {
    font-size: 40px;
    transition: all 500ms cubic-bezier(0.420, 0.000, 0.580, 1.000);
    transition-delay: 50ms;
    transition-duration: 1s;
}

.light-mode {
    background-color: rgb(242, 210, 234);
    color: rgb(134, 16, 16);
    text-shadow: 3px 2px white;
    background-size: auto;

}

.light-mode-selfie {
    height: 200px;
    border: solid rgb(134, 16, 16) 3px;
    border-radius: 500px;
    box-shadow: 5px 5px rgb(194, 162, 173);
   }