body {
   text-align: center;
   background-color: black;
   font-family: 'VT323', monospace;                                            
   color: rgb(242, 210, 234);
   text-shadow: 3px 2px rgb(247, 70, 21);
   background-size: auto;
}
header {
    font-size: 28px;
}
#home-pic {
    height: 150px;
    width: auto;
}
#home-head {
    font-size: 40px;
}
.dark-border {
    border-left:rgb(242, 210, 234) inset 8px;
    padding-left: 1vw;
    position: relative;
    left: 6px;
}
.light-border {
    border-left:rgb(134, 16, 16) inset 8px;
    padding-left: 1vw;
    position: relative;
    left: 6px;
}
#subhead {
    margin-top: -50px;
    font-size: 26px;
}
#home-subtext {
    align-text: center;
    font-size: 18px;
    padding-top: 10px;
    margin-bottom: -35px;
}

.selfie-normal {
    height: 200px;
    border: solid rgb(159, 152, 153) 3px;
    border-radius: 500px;
    box-shadow: 5px 5px rgb(75, 41, 62);
   
}

a {
    text-decoration: none;
    color: inherit;
}

ul {
    font-size: 24px;
    margin-top: 10vh;
    list-style: none;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    column-gap: 44px;
    cursor: pointer;
    
}
#nav-buttons {
    margin-top: -15px;
    font-size: 14px;
    
}

#resume-content {
    max-height: 100%;
    width: auto;
}
#resume {
        height: 55vh;
        width: auto;
        margin-top: 30px;
        margin-bottom: 40px;
}
#resume:hover {
    height: 80vh;
    width: auto;
}
#resume-gif {
    height: 25vh;
}
#projects-div {
    height: 40vh;
    /* margin-bottom: 320px; */
    overflow: auto;
}
#projects-content {
    height: 40vh;
    display: flex;
    flex-direction: column;
    font-size: 20px;
    
}
#project-one{
    height: 30vh;
    width: 90vw;
    max-width: 400px;
}
#project-two {
    height: 30vh;
    width: 90vw;
    max-width: 400px;
}
#project-three {
    height: 30vh;
    width: 90vw;
    max-width: 400px;
}
#project-four {
    height: 30vh;
    width: 90vw;
    margin-left: 10px;
    max-width: 400px;
}
#projects-pic {
    width: 80vw;
    align-self: center;
    margin-bottom: 40px;
    
}
#bio-content {
    height: 80vh;
    /* display: flex; */
    justify-content: center;
    align-items: center;
    font-size: 24px;
    margin-bottom: 350px;
}
#bio-click-box {
    margin-bottom: 1vh;
}
#bio-buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 3vh;
    margin-top: 3vh;
}
#brand-statment {
    width: 20vw;
}
#extra-info-box {
    display: flex;
    gap: 20px;
}
#bio-responses {
    gap: 3vh;
    margin-top: 10vh;
    /* font-family: 'Rajdhani', sans-serif; */
    text-shadow: none;
    margin-bottom: 10vh;
}
.bio-responses-light {
 
    color: rgb(12, 238, 246);
    background-color: black;
    border-radius: 15px;
    padding-top: 15px;

}
.bio-responses-dark {
    color: rgb(12, 238, 246);
    text-shadow: none;
}
#bio-gif {
    width: 80vw;
    height: 22vh;
    max-width: 400px;
    min-width: 20vw;
    margin-bottom: 50px;
    border-radius: 15px
}
#whats-up {
height: 100px;
}
#contact-me-content {
    align-items: center;
    /* margin-left: 157px; */
}
#contact-me-pic {
    width: 90vw;
    height: auto;
    margin-bottom: 20px;
}
.hide {
    display: none;
}
#projects-div{
    height: 130vh;
}
li:hover {
    font-size: 40px;
    transition-delay: 50ms;
    transition-duration: 1s;
}

.light-mode {
    background-color: rgb(242, 210, 234);
    color: rgb(134, 16, 16);
    text-shadow: 3px 2px white;
    background-size: auto;
    
}

.light-mode-selfie {
    height: 200px;
    border: solid rgb(134, 16, 16) 3px;
    border-radius: 500px;
    box-shadow: 5px 5px white;
   }
.circle-light {
    height: 1.8vh;
    width: auto;
    background-color: rgb(0, 0, 0);
    border: solid rgb(134, 16, 16) 2px;
    border-radius: 10px;
}
#color-mode {
   display: flex;
   justify-content: flex-start;
   cursor: pointer;
}
.circle-dark {
    height: 2vh;
    width: auto;
    background-color: rgb(242, 210, 234);
    border-radius: 50px;
    border: solid white 1px;
}
.color-mode-light {
    display: flex;
   justify-content: flex-start;
   color: rgb(134, 16, 16);
   font-size: 16px;
   cursor: pointer;
}
.color-mode-text-dark {
    color: rgb(242, 210, 234);
   font-size: 14px;
   padding-top: 3px;
}
.color-mode-text-light {
    color: rgb(0, 0, 0);
    text-shadow: none;
   font-size: 14px;
   padding-top: 2.5px;
}
/* MEDIUM SCREENS */
@media only screen and (min-width: 768px) and (max-width: 1249px) {
    li:hover {
        background-color:rgb(21, 174, 174);
        font-size: 30px;
        transition-delay: 50ms;
        transition-duration: 500ms;
    }
    #nav-buttons:hover {
        li {
        font-size: 20px;
        }
    }
    #selfie {
        height: 30vh;
        width: auto;
        position: relative;
        left: 35vw;
        bottom: 1vh;
    }
    #home-head {
        font-family: 'Press Start 2P', cursive;
        margin-bottom: -20vh;
    }
    #home-head-text {
        text-align: left;
        position: relative;
        bottom: 260px;
    }
    #name-head {
        font-size: 55px;
        margin-bottom: 10vh;
    }
    #subhead {
        font-size: 18px;
    }
    #home-pic {
        height: 250px;
        width: auto;
        position: relative;
        left: 30vw;
        bottom: 5vh;
        margin-bottom: -5vh;
    }
    #nav-links {
        position: relative;
        top: 5vh;
    }
    footer {
        position: relative;
        top: 5vh;
    }
    #color-mode-text {
        font-size: 20px;
        position: relative;
        bottom: .4vh;
    }
    #bio-head {
        font-size: 60px;
    }
    #bio-gif {
        max-width: 30vw;
    }
    #bio-content {
        margin-bottom: 100px;
    }
    #brand-statement {
        font-size: 32px;
    }
    #projects-head {
        font-size: 48px;
    }
    #projects-text {
        position: relative;
        left: 18vw;
    }
    #projects-pic {
        position: relative;
        left: 25vw;
        max-width: 50vw;
        height: auto;
    }
    #projects-content {
        justify-content: space-between;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #project-one{
        width: 40vw;
        height: 30vh;
    }
    #project-two {
         width: 40vw;
        height: 30vh;
    }
    #project-three {
         width: 40vw;
        height: 30vh;
    }
    #project-four {
        width: 40vw;
        height: 30vh;
        margin-left: 10px;
    }
    #bio-buttons {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3vh;
        margin-top: 3vh;
    }
    #resume-content {
        flex-direction: column;
        justify-content:flex-start;
        align-items: center;
    }
    #contact-me-pic {
        max-height: 60vh;
        width: auto;
        min-height: 20vh;
    }
}
/* LARGE SCREENS */
@media only screen and (min-width: 1250px) {
    li:hover {
        background-color:rgb(21, 174, 174);
        font-size: 30px;
        transition-delay: 50ms;
        transition-duration: 500ms;
    }
    #nav-buttons:hover {
        li {
        font-size: 20px;
        }
    }
    ul {
        position: relative;
        
    }
    #selfie {
        height: 40vh;
        width: auto;
        position: relative;
        left: 35vw;
        bottom: 2vh;   
    }
    #home-head {
        font-family: 'Press Start 2P', cursive;
    }
    #home-head-text {
        text-align: left;
        position: relative;
        bottom: 340px;
    }
    #name-head {
        font-size: 65px;
        margin-bottom: 10vh;
    }
    #home-pic {
        height: 350px;
        width: auto;
        position: relative;
        left: 30vw;
        margin-bottom: 5vh;
    }
   
    #projects-content {
        height: 80vh;
        justify-content: space-evenly;
        flex-direction: row;
        flex-wrap: wrap;
    }
    #projects-text {
        font-size: 40px;
        position: relative;
        left: 40px;
    }
    #brand-statement {
        font-size: 32px;
    }
    #resume-content {
        flex-direction: column;
        justify-content:flex-start;
        align-items: center;
    }
    #resume {
        height: 65vh;
        width: auto;
        margin-top: 30px;
        margin-bottom: 40px;
    }
    #resume:hover {
        height: 90vh;
        width: auto;
    }
    #color-mode-text {
        font-size: 20px;
        position: relative;
        bottom: .4vh;
    }
    #contact-me-pic {
        max-height: 60vh;
        width: auto;
        min-height: 20vh;
    }
}
/* PREVENT RESIZING WHEN TOO SMALL */
@media only screen and (max-width: 350px) {
    body {
        resize: none;
        overflow: auto;
    }
    #main-content {
        resize: none;
        overflow: auto;
    }
    #home-head {
        resize: none;
        overflow: auto;
    }
    header {
        resize: none;
        overflow: auto;
    }
    ul {
        resize: none;
        overflow: auto;
    }
    footer {
        resize: none;
        overflow: auto;
    }
    #resume-content {
        resize: none;
        overflow: auto;
    }
    #bio-content {
        resize: none;
        overflow: auto;
    }
    #projects-content {
        resize: none;
        overflow: auto;
        }
}